extends layout

block title
    title 医生列表

block site-content
    link(href="/stylesheets/doctor_list.css", rel="stylesheet", media="all")

    div#site-content
        div.doctor-list
            div.doctor
                img.image
                div.doctor-info
                    div.name
                        a(href="#") 钦伦秀
                    div.title 主任医师
                    div.department 普外科
                div.doctor-intro
                    | 擅长： 肝胆肿瘤的诊断与外科治疗、胆道肿瘤及其...
                table.vertical-middle-helper
                    tr
                        td.vertical-middle
                            button.register.btn.btn-primary 挂号
                            button.register.btn.btn-primary 挂号
                            button.register.btn.btn-primary 挂号