extends layout
block content

    style
    link(href="/stylesheets/hospital_list.css", rel="stylesheet", media="all")

    div.hospital-list
        div.
        div.hospital
        div.name 复旦大学附属华山医院
        div.rating 三级甲等
        div.tel 021-52889999
        div.addr 上海市静安区乌鲁木齐中路12号
        button.register

