doctype html
html(lang="zh-cn")
    head
        block head
            meta(charset="utf-8")
            meta(name="robots", content="none")
            meta(name="viewport" content="width=device-width, initial-scale=1")

            block stylesheets
                link(href="/stylesheets/bootstrap/css/bootstrap.paper.css", rel="stylesheet", media="all")
                link(href="/stylesheets/font-awesome-4.2.0/css/font-awesome.min.css", rel="stylesheet", media="all")
                link(href="/stylesheets/general.css", rel="stylesheet", media="all")

            block javascripts
                script(src="/javascripts/jquery-2.1.1.min.js")
                script(src="/stylesheets/bootstrap/js/bootstrap.min.js")

            block title

    body
        #nav
            nav.navbar.navbar-default(role="navigation")
                div.container
                    div.navbar-header
                        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="/") SRF 挂号平台
                    .navbar-form.navbar-left
                        .input-group
                            input#nav-search-field.form-control(placeholder="搜索医院")
                            span.input-group-btn
                                button#nav-search-button.btn.btn-default 搜索

                    div#navbar-collapse.collapse.navbar-collapse
                        if username
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href="/account/manage/info") #{username}
                                li
                                    a(href="/account/manage/info") 个人中心
                                li
                                    a(href="/account/manage/reservation") 预约列表
                                li
                                    a(href="/account/logout") 退出
                        else
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href="/account/login") 登录
                                li
                                    a(href="/account/register") 注册


        div#header
            div#header-content
                div.container
                    ol.breadcrumb
                        block breadcrumb
                    block header-content-extra

        block site-content

        footer#footer.site-footer(style={
            'background': '#fff',
            'border-top': '1px solid #eee',
            'margin-top': '50px',
            'padding': '20px 0 10px'
        })
            .container
                .col-sm-9
                    .ft-links
                        ul
                            li: a.link(href='#') 关于
                            li: a.link(href='#') 常见问题
                            li: a.link(href='#') 医院合作
                            li: a.link(href='#') 投诉建议
                            li: a.link(href='#') 版权信息
                            li: a.link(href='#') 隐私政策
                            li: a.link(href='#') 加入我们

                    .ft-notes
                        p 全国领先的一站式挂号预约平台
                        p &copy; 2014 SRF Working Group
                    .ft-alt-notes
                        p VERSION: 1.0 rev #800
                .col-sm-3
                    h2.pull-right.site-ft-title SRF 挂号预约平台

        block scripts
            script.
                $(document).ready(function () {
                    $("#nav-search-button").click(function () {
                        var href = "/search/" + $("#nav-search-field").val();
                        window.location.href = href;
                    });
                });