extends layout

block append stylesheets
    link(href="/stylesheets/login.css", rel="stylesheet", media="all")

block append javascripts
    script(src="/javascripts/md5.js")

block title
    title 登录

block breadcrumb
    li
        a(href="/") 主页
    li 登陆

block site-content
    .container
        #site-content.row
            .left-content.col-lg-6.col-md-6.col-sm-6.col-xs-12
                .alert.alert-warning.alert-dismissible.hidden
                    button.close(type="button", data-dismiss="alert")
                        span ×
                    strong.alert-message #{errorMessage}

                form.form-login(role="form", action="/account/login", name="postLoginMessage", method="post")
                    div.text-center
                        h2 登 录
                    input#username.input-lg.form-control(type="text", name="username", placeholder="用户名", required, autofocus)
                    input#password.input-lg.form-control(type="password", name="password", placeholder="密码", required)
                    .checkbox
                        label
                            input(type="checkbox", value="remember-me")
                            | 记住我
                    button.btn.btn-lg.btn-primary.btn-block(type="submit") 登录

            .right-content.col-lg-6.col-md-6.col-sm-6.col-xs-12
                div.text-center
                    h2 还没有账号？
                    h2 快加入SRF！
                h4.text-center 全国各大医院聚集
                h4.text-center 顶尖专家在线挂号
                h4.text-center 便捷省心的挂号体验
                a.btn.btn-lg.btn-warning.btn-block(href="/account/register") 注册

    script.

        $(document).ready(function() {

            if ($(".alert-message").html() != " ") {
                $(".alert").removeClass("hidden");
            }

            $(".form-login").on("submit", function () {
                $("#password").val(hex_md5($("#password").val()));
                return true;
            });

        }):