extends layout

block title
    title 新的预约单
block content
    link(href="/stylesheets/reservation.css", rel="stylesheet", media="all")

    .main-block
        form
            .info
                .title
                    | 确认预约订单信息
                table.table
                    thead
                        tr
                            th
                                p 医生信息
                            th
                                p 门诊类型
                            th
                                p 就诊时间
                            th
                                p 挂号费
                    tbody
                        tr
                            td
                                .doc-info
                                    dl
                                        dt
                                            a 杨国庆
                                            span 副主任医师
                                        dd
                                            p
                                                a 中国人民解放军总医院301医院
                                            p
                                                a 内科-内分泌科
                            td
                                | 专家门诊
                            td
                                | 2014年12月14日上午
                            td.money
                                | ￥7.0
                p.tips 温馨提醒：挂号网免费提供预约挂号服务，实际挂号费由医院收取，请放心使用。
            .bookinfo
                div
                    .title 就诊人信息
                    .user-boxes
                        dl.on
                            dt 徐少峰
                            dd
                                | 3208**********0019
                                br
                                | 131*****527
                .verify
                    .knowit
                        label
                            input(type='checkbox')
                            | 我已了解：如遇专家停诊，您的订单会被取消，我们会以短信通知到您，请保持手机畅通，并及时关注订单状态。
            .actions
                a.gbb.gbt-green 确认预约
                span
                    | 预约成功的短信将发送到手机：
                    em 131*****527
                    | ，请注意查收！

