<link href="/stylesheets/reservation.css" rel="stylesheet" media="all">
<div class="order-detail">
    <ul>
        <li class="title">取号信息</li>
        <li>
            <p>
                <span>联系电话：156*****293</span>
                <span>取号地点：门诊3楼挂号处</span>
            </p>
            <p>
                <span>就诊日期：2014-07-28 （具体时间以预约成功短信为准）</span>
                <span>挂号费：58.00元</span>
            </p>
        </li>
        <li class="last">
            <p>
                <span>预约单号：012014072716582931</span>
                <span>下单时间：2014-07-27 10:40:41</span>
            </p>
            <p>
                <span>就诊人：秦秉臣</span>
                <span>证件号：3101**********0439</span>
            </p>
            <p>
                <span>预约医生：陈连军 复旦大学附属华山医院-皮肤科</span>
                <span>门诊类型：特色门诊</span>
            </p>
            <p>
                <span>就诊类型：初诊</span>
            </p>
            <p>
                <span>就诊地点：门诊3楼</span>
                <span>就诊卡号： </span>
            </p>
        </li>
    </ul>
    <div>
        <button class="btn btn-xs btn-success">打印</button>
    </div>
</div>