extends ./sb_layout
block content
   script(src="/backstage/js/jquery.validate.js")
   script(type='javascript').
      $(document).ready(function (){
         $("#pwform").validate({
            rules: {
               firstname: "required",
               lastname: "required",
               username: {
                  required: true,
                  minlength: 2
               },
               password: {
                  required: true,
                  minlength: 5
               },
               confirm_password: {
                  required: true,
                  minlength: 5,
                  equalTo: "#password"
               },
               email: {
                  required: true,
                  email: true
               },
               topic: {
                  required: "#newsletter:checked",
                  minlength: 2
               },
               agree: "required"
            },
            messages: {
               firstname: "Please enter your firstname",
               lastname: "Please enter your lastname",
               username: {
                  required: "Please enter a username",
                  minlength: "Your username must consist of at least 2 characters"
               },
               password: {
                  required: "Please provide a password",
                  minlength: "Your password must be at least 5 characters long"
               },
               confirm_password: {
                  required: "Please provide a password",
                  minlength: "Your password must be at least 5 characters long",
                  equalTo: "Please enter the same password as above"
               },
               email: "Please enter a valid email address",
               agree: "Please accept our policy"
            }
         });
      });

      $()
   h2 修改密码
   form(action='/admin/change_password', method='post',id='pwform')
      .form-group
         .prompt
            label(for='old_pw') 原密码
         .control
            input#publishDate.form-control(type='password', required='', id="pre_pw")
      .form-group
         .prompt
            label(for='new_pw') 新密码
         .control
            input#dueDate.form-control(type='password', name='password',id='password')
      .form-group
         .prompt
            label(for='confirm_pw') 确认密码
         .control
            input#dueDate.form-control(type='password', name='confirm_password',id='confirm_password')
      button.button.submit-button.green-button.button-with-icon(type='submit')
         i.fa.fa-plus
         | 确定

