extends ./sb_layout
block content
   script(src="/javascripts/md5.js")
   script.
      $(document).ready(function() {
         $('#pwform').on('submit', function() {
            if ($('#pwform').valid() === false)
               return;
            var $p = $('#pre_pw');
            $p.val(hex_md5($p.val()));
            var $pp=$('#newpassword');
            $pp.val(hex_md5($pp.val()));
            var $ppp=$('#confirm_password');
            $ppp.val(hex_md5($ppp.val()));
            return true;
         });
         $("#pwform").validate({
            rules: {
               password: {
                  required: true,
                  minlength: 8
               },
               confirm_password: {
                  required: true,
                  minlength: 8,
                  equalTo: "#newpassword"
               }
            },
            messages: {
               password: {
                  required: "必须填写",
                  minlength: "密码长度应不少于8个字符。"
               },
               confirm_password: {
                  required: "必须填写",
                  minlength: "密码长度应不少于8个字符。",
                  equalTo: "密码和确认密码必须相同。"
               }
            }
         });
      });

   h2 修改密码
   form(id='pwform',action="/backstage/account",method="post")
      .form-group
         .prompt
            label(for='old_pw') 原密码
         .control
            input.form-control(type='password', name='originalPassword',required, id="pre_pw")
      .form-group
         .prompt
            label(for='new_pw') 新密码
         .control
            input.form-control(type='password', name='newPassword',id='newpassword', required)
      .form-group
         .prompt
            label(for='confirm_pw') 确认密码
         .control
            input.form-control(type='password', name='confirm_password',id='confirm_password',required)
      button.button.submit-button.green-button.button-with-icon(type='submit',id='confirm_button') 修改密码