extends ./sb_layout
block content
   script(src="/backstage/js/jquery.validate.js")
   script(src="/javascripts/md5.js")
   script.
      $(document).ready(function (){


         $("#pwform").validate({
            rules: {
               password: {
                  required: true,
                  minlength: 5
               },
               confirm_password: {
                  required: true,
                  minlength: 5,
                  equalTo: "#newpassword"
               }
            },
            messages: {
               password: {
                  required: "Please provide a password",
                  minlength: "Your password must be at least 5 characters long"
               },
               confirm_password: {
                  required: "Please provide a password",
                  minlength: "Your password must be at least 5 characters long",
                  equalTo: "Please enter the same password as above"
               }
            }
         });


         $('#confirm_button').click(function () {
            var originalpw=hex_md5($("#pre_pw").val());
            var newpw=hex_md5($('#newpassword').val());
            alert("aa");
            $.ajax({
               url: 'http://#{businessServer}/admin/change_password',
               type: 'POST',
               data:
               {
                  'username':#{username},
                  'original_password':originalpw,
                  'new_password':newpw
               }
               //TODO:  不知道返回的原密码错误的data是什么，
            }).done(function (data) {
               if (data.code == 0) {
                  toastr.success('修改密码', '成功');
               } else {
                  toastr.error('系统错误。错误代码：' + data.code, '失败');
               }
            }).error(function (jqXHR, textStatus, errorThrown) {
               toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
            });
         });
      });


   h2 修改密码
   form(id='pwform')
      .form-group
         .prompt
            label(for='old_pw') 原密码
         .control
            input.form-control(type='password', required='', id="pre_pw")
      .form-group
         .prompt
            label(for='new_pw') 新密码
         .control
            input.form-control(type='password', name='password',id='newpassword')
      .form-group
         .prompt
            label(for='confirm_pw') 确认密码
         .control
            input.form-control(type='password', name='confirm_password',id='confirm_password')
      button.button.submit-button.green-button.button-with-icon(type='button',id='confirm_button')
         | 确定

