extends ./sb_layout
block content
   script(src="/backstage/js/jquery.validate.js")
   script(src="/javascripts/md5.js")
   script.

      $(document).ready(function (){

         $('#pwform').on('submit', function() {
            var $p = $('#pre_pw');
            $p.val(hex_md5($p.val()));
            var $pp=$('#newpassword');
            $pp.val(hex_md5($pp.val()));
            return true;
         });

         $("#pwform").validate({
            rules: {
               password: {
                  required: true,
                  minlength: 5
               },
               confirm_password: {
                  required: true,
                  minlength: 5,
                  equalTo: "#newpassword"
               }
            },
            messages: {
               password: {
                  required: "Please provide a password",
                  minlength: "Your password must be at least 5 characters long"
               },
               confirm_password: {
                  required: "Please provide a password",
                  minlength: "Your password must be at least 5 characters long",
                  equalTo: "Please enter the same password as above"
               }
            }
         });


      });


   h2 修改密码
   form(id='pwform',action="/backstage/account",method="post")
      .form-group
         .prompt
            label(for='old_pw') 原密码
         .control
            input.form-control(type='password', name='originalPassword',required='', id="pre_pw")
      .form-group
         .prompt
            label(for='new_pw') 新密码
         .control
            input.form-control(type='password', name='newPassword',id='newpassword')
      .form-group
         .prompt
            label(for='confirm_pw') 确认密码
         .control
            input.form-control(type='password', name='confirm_password',id='confirm_password')
      button.button.submit-button.green-button.button-with-icon(type='submit',id='confirm_button')
         | 确定

