extends ./sb_layout

block content
   h2 医生管理

   ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
         a(href='#panel-manage', role='tab', data-toggle='tab') 现有医生管理
      li(role='presentation')
         a(href='#panel-add', role='tab', data-toggle='tab') 添加医生

   div.tab-content
      div#panel-manage.tab-pane.fade.in.active
         h3 现有医生管理
         table#doctor-table.table.table-striped.table-bordered.table-hover
            thead
               tr
                  th #
                  th 姓名
                  th 所属科室
                  th 职称
                  th 描述
                  th 操作
            tbody
               tr
                  td 1
                  td 王拖地
                  td 口腔科
                  td 特级专家
                  td 始于1994
                  td
                     a.button.blue-button.xs-button.opnl-button(href='/backstage/doctor/1/edit_schedule') 编辑排班
                     button.button.red-button.xs-button.delete-doctor(data-id='1') 删除医生


      div#panel-add.tab-pane.fade
         h3 添加医生
         form(method='post', action='/backstage/api/add/doctor', id='add-doctor')
            .form-group
               .prompt
                  label(for='name') 姓名
               .control
                  input#name.form-control(name='name', required='', type='text')

            .form-group
               .prompt
                  label(for='title') 所属科室
               .control
                  select.form-control(name='title', data-placeholder='选择科室...', required)
                     option(value='')
                     option(value='')
                     option(value='')
                     option(value='')
                     option(value='')
                     option(value='')
                     option(value='')

            .form-group
               .prompt
                  label(for='title') 称号
               .control
                  select.form-control(name='title', data-placeholder='选择称号...', required)
                     option(value='医师') 医师
                     option(value='专家') 专家
                     option(value='特级专家') 特级专家
                     option(value='海外专家') 海外专家
                     option(value='实习医生') 实习医生
                     option(value='主治医生') 主治医生
                     option(value='主任') 主任
                     option(value='副主任') 副主任

            .form-group
               .prompt
                  label(for='price') 挂号价格（元）
               .control
                  input#price.form-control(name='price', required, type='text')

            .form-group
               .prompt
                  label(for='description') 医生描述
               .control
                  textarea#description.form-control(name='description', required, rows='5')

            .form-group
               .prompt
                  label 出诊时间
                  .note 点击右侧单元格设定
               .control
                  table.time-slots.table.table-bordered
                     tr
                        td
                        td 星期一
                        td 星期二
                        td 星期三
                        td 星期四
                        td 星期五
                        td 星期六
                        td 星期日
                     tr
                        td 上午
                        td.checkable(data-row='1', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='2', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='3', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='4', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='5', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='6', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='7', data-col='1')
                           i.fa-check.fa.fa-fw

                     tr
                        td 下午
                        td.checkable(data-row='1', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='2', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='3', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='4', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='5', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='6', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='7', data-col='2')
                           i.fa-check.fa.fa-fw

                     tr
                        td 晚上
                        td.checkable(data-row='1', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='2', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='3', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='4', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='5', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='6', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='7', data-col='3')
                           i.fa-check.fa.fa-fw

                  span.button.gray-button.xs-button.select-all
                     i.fa.fa-check-square-o
                     | &nbsp;全选
                  span.button.gray-button.xs-button.select-none
                     i.fa.fa-close
                     | &nbsp;清除选择

            .form-group
               .prompt
                  label 可预约人数
               .control
                  label(for='morning') 上午
                  input#morning.form-control.inline(name='morning', type='number')
                  label(for='afternoon') 下午
                  input#afternoon.form-control.inline(name='afternoon', type='number')
                  label(for='evening') 晚上
                  input#evening.form-control.inline(name='evening', type='number')
                  .note 详细的预约人数控制可以在添加医生之后设定。

            input(type='hidden', name='hospitalId', id='hospital-id' value='')
            input(type='hidden', name='timeSlots', id='time-slots', value='')
            button.button.submit-button.green-button.button-with-icon(type='submit')
               i.fa.fa-plus
               | &nbsp;添加医生

   style.
      a.button {
         text-decoration: none !important;
      }
      .opnl-button {
         margin-right: 10px;
      }
      .time-slots td {
         text-align: center;
      }
      .time-slots i {
         display: none;
      }
      .time-slots td.checked i {
         display: inline-block;
      }
      .time-slots td.checkable {
         background: #fff;
         cursor: pointer;
      }
      .time-slots td.checkable:hover {
         background: #f7f7f7;
      }
      .time-slots td.checkable.checked {
         background: #f7f7f7;
      }
      .select-all,
      .select-none {
         margin-right: 15px;
      }
      input.form-control.inline {
         width: 100px;
         margin: 0 20px 0 10px;
      }

   script.
      $('#doctor-table').DataTable();
      $('.delete-doctor').click(function() {
         var id = $(this).data('id');
         if (confirm('是否确定删除医生？')) {
            $.ajax({
               url: '/hospital/doctor/' + id + '/delete',
               type: 'GET'
            }).done(function(data) {
               if (data.code == 0) {
                  toastr.success('医生已经删除', '成功');
               } else {
                  toastr.error('系统错误。错误代码：' + data.code, '删除失败');
               }
            }).error(function() {
               toastr.error('系统发生致命错误。错误信息：ECONNECTREFUSED', '删除失败');
            });
         }
      });

   script.
      var $cell = $('.time-slots .checkable');
      $cell.click(function() {
         $(this).toggleClass('checked');
      });
      $('.select-all').click(function() {
         $cell.addClass('checked');
      });
      $('.select-none').click(function() {
         $cell.removeClass('checked');
      });
      $('#add-doctor').on('submit', function() {
         var timeSlots = [
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0]
         ];
         var caps = [parseInt($('#morning').val()), parseInt($('#afternoon').val()), parseInt($('#evening').val())];
         $('td.checkable.checked').each(function(index, element) {
            var row = $(element).data('row');
            var col = $(element).data('col');
            timeSlots[row - 1][col - 1] = caps[col - 1];
         });
         $('#time-slots').val(JSON.stringify(timeSlots));
         return true;
      });