extends ./sb_layout
block content
   h2 编辑医生排班

   ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
         a(href='#panel-current', role='tab', data-toggle='tab') 当前排班情况
      li(role='presentation')
         a(href='#panel-weekly', role='tab', data-toggle='tab') 修改每周排班
      li(role='presentation')
         a(href='#panel-temp', role='tab', data-toggle='tab') 临时排班管理

   div.tab-content

      div#panel-current.tab-pane.fade.in.active
         h3 当前排班情况
         h4 未来一周
         table.time-slots.table.table-bordered
            tr.title
               td
               td.tcell(data-plus-day='0')
               td.tcell(data-plus-day='1')
               td.tcell(data-plus-day='2')
               td.tcell(data-plus-day='3')
               td.tcell(data-plus-day='4')
               td.tcell(data-plus-day='5')
               td.tcell(data-plus-day='6')
            tr
               td.title 上午
               td.cell(data-row='1', data-col='1')
                  a.x-editable
               td.cell(data-row='2', data-col='1')
                  a.x-editable
               td.cell(data-row='3', data-col='1')
                  a.x-editable
               td.cell(data-row='4', data-col='1')
                  a.x-editable
               td.cell(data-row='5', data-col='1')
                  a.x-editable
               td.cell(data-row='6', data-col='1')
                  a.x-editable
               td.cell(data-row='7', data-col='1')
                  a.x-editable

            tr
               td.title 下午
               td.cell(data-row='1', data-col='2')
                  a.x-editable
               td.cell(data-row='2', data-col='2')
                  a.x-editable
               td.cell(data-row='3', data-col='2')
                  a.x-editable
               td.cell(data-row='4', data-col='2')
                  a.x-editable
               td.cell(data-row='5', data-col='2')
                  a.x-editable
               td.cell(data-row='6', data-col='2')
                  a.x-editable
               td.cell(data-row='7', data-col='2')
                  a.x-editable

            tr
               td.title 晚上
               td.cell(data-row='1', data-col='3')
                  a.x-editable
               td.cell(data-row='2', data-col='3')
                  a.x-editable
               td.cell(data-row='3', data-col='3')
                  a.x-editable
               td.cell(data-row='4', data-col='3')
                  a.x-editable
               td.cell(data-row='5', data-col='3')
                  a.x-editable
               td.cell(data-row='6', data-col='3')
                  a.x-editable
               td.cell(data-row='7', data-col='3')
                  a.x-editable
                  
         script.
            var date = new Date();
            var dayToChinese = [
               '星期日',
               '星期一',
               '星期二',
               '星期三',
               '星期四',
               '星期五',
               '星期六'
            ];
            Date.prototype.yyyy_mm_dd = function () {
               var yyyy = this.getFullYear().toString();
               var mm = (this.getMonth() + 1).toString();
               var dd = this.getDate().toString();
               return yyyy + '-' + (mm[1] ? mm : "0" + mm[0]) + '-' + (dd[1] ? dd : "0" + dd[0]);
            };
            var shiftDate = function(date, what, count) {
               var proc1 = 'get' + what,
                       proc2 = 'set' + what;
               var value = Date.prototype[proc1].call(date);
               Date.prototype[proc2].call(date, value + count);
               return date;
            }
            var dates = [];
            for (var i = 0; i < 7; ++i) {
               dates[i] = shiftDate(new Date(), 'Date', i);
            }
            $('.cell').each(function(index, element) {
               var row = $(element).data('row');
               var col = $(element).data('col');

               $(element).data('period', col);
               $(element).attr('data-period', col);
               $(element).data('date', dates[row - 1].yyyy_mm_dd());
               $(element).attr('data-date', dates[row - 1].yyyy_mm_dd());
            });
            $('.tcell').each(function(index, element) {
               var date = shiftDate(new Date(), 'Date', parseInt($(element).data('plus-day')));
               $(element).html(dayToChinese[date.getDay()] + '<br>' + date.yyyy_mm_dd());
            });

         style.
            #panel-current .time-slots {
               text-align: center;
            }
            .time-slots .title {
               font-weight: bold;
            }
      div#panel-weekly.tab-pane.fade
         h3 修改每周排班
         table.time-slots.table.table-bordered
            tr
               td
               td 星期一
               td 星期二
               td 星期三
               td 星期四
               td 星期五
               td 星期六
               td 星期日
            tr
               td 上午
               td.cell(data-row='1', data-col='1')
                  a.x-editable
               td.cell(data-row='2', data-col='1')
                  a.x-editable
               td.cell(data-row='3', data-col='1')
                  a.x-editable
               td.cell(data-row='4', data-col='1')
                  a.x-editable
               td.cell(data-row='5', data-col='1')
                  a.x-editable
               td.cell(data-row='6', data-col='1')
                  a.x-editable
               td.cell(data-row='7', data-col='1')
                  a.x-editable

            tr
               td 下午
               td.cell(data-row='1', data-col='2')
                  a.x-editable
               td.cell(data-row='2', data-col='2')
                  a.x-editable
               td.cell(data-row='3', data-col='2')
                  a.x-editable
               td.cell(data-row='4', data-col='2')
                  a.x-editable
               td.cell(data-row='5', data-col='2')
                  a.x-editable
               td.cell(data-row='6', data-col='2')
                  a.x-editable
               td.cell(data-row='7', data-col='2')
                  a.x-editable

            tr
               td 晚上
               td.cell(data-row='1', data-col='3')
                  a.x-editable
               td.cell(data-row='2', data-col='3')
                  a.x-editable
               td.cell(data-row='3', data-col='3')
                  a.x-editable
               td.cell(data-row='4', data-col='3')
                  a.x-editable
               td.cell(data-row='5', data-col='3')
                  a.x-editable
               td.cell(data-row='6', data-col='3')
                  a.x-editable
               td.cell(data-row='7', data-col='3')
                  a.x-editable

      div#panel-temp.tab-pane.fade
         h3 临时排班管理
         h4 添加记录
         form(method='post', action='/hospital/doctor/1/working/temp/add', id='add-temp')
            .form-group
               .prompt
                  label(for='date') 日期
               .control
                  input#date.form-control.date-picker(name='date', required, type='text')

            .form-group
               .prompt
                  label(for='period') 时间段
               .control
                  select#period.form-control(name='period', data-placeholder='选择称号...', required)
                     option(value='上午') 上午
                     option(value='下午') 下午
                     option(value='晚上') 晚上

            .form-group
               .prompt
                  label(for='capacity') 可预约人数
               .control
                  input#capacity.form-control(name='capacity', required, type='number')
                  .note 设为 0 即表示不开放预约。
            button.button.submit-button.green-button.button-with-icon(type='submit')
               i.fa.fa-plus
               | &nbsp;添加临时排班记录

         h4 当前记录
         table#temp-table.table.table-striped.table-bordered.table-hover
            thead
               tr
                  th 日期
                  th 时间段
                  th 可预约人数
                  th 操作
            tbody
               tr
                  td 2014-12-31
                  td 上午
                  td 0
                  td: button.button.red-button.xs-button.delete-temp(data-date='2014-12-31', data-period='3', data-doctor_id='1') 删除记录

         script.
            $('.date-picker').datepicker({
               format: "yyyy-mm-dd",
               todayBtn: "linked",
               language: "zh-CN",
               keyboardNavigation: false,
               autoclose: true,
               todayHighlight: true
            });
            $('#temp-table').DataTable();
            $('.delete-temp').click(function() {
               if (confirm('是否确定删除该排班项？')) {
                  var id = $(this).data('doctor_id');
                  $.ajax({
                     url: '/hospital/doctor/' + id + '/working/temp/delete',
                     type: 'POST',
                     dataType: 'json',
                     data: ''
                  }).done(function(data) {
                     if (data.code == 0) {
                        toastr.success('排班已经删除', '成功');
                     } else {
                        toastr.error('系统错误。错误代码：' + data.code, '删除失败');
                     }
                  }).error(function() {
                     toastr.error('系统发生致命错误。错误信息：ECONNECTREFUSED', '删除失败');
                  });
               }
            });