extends ./sb_layout

block content
   h2 欢迎页
   p 欢迎您到专门的，优雅的SRF SmartBackstage （ SB ）系统。
   p Huānyíng nín dào zhuānmén de, yōuyǎ de SRF SmartBackstage (SB) xìtǒng.
   p Welcome to the dedicated, elegant SRF SmartBackstage (S.B) system.
   p Chào mừng bạn đến hệ thống riêng , thanh lịch SRF SmartBackstage ( SB ) .
   p 専用の、エレガントSRF SmartBackstage （ SB）システムへようこそ。
   p Καλώς ήρθατε στην ειδική , κομψό SRF SmartBackstage ( SB ) σύστημα .
   p Добро пожаловать в выделенном , элегантный SRF SmartBackstage (SB ) системы.
   p Velkommen til den dedikerede , elegant system, SRF SmartBackstage ( SB ) .
   p Bienvenue sur le système dédié , élégant SRF SmartBackstage ( SB ) .
   p Byenveni nan sistèm lan devwe, elegant SRF SmartBackstage (SB ).
   p Selamat datang ke berdedikasi , SRF SmartBackstage ( SB ) sistem elegan .
   p Тусгай зориулалтын , гоёмсог SRF SmartBackstage ( SB ) системд тавтай морилно уу.
   p समर्पित , सुरुचिपूर्ण SRF SmartBackstage ( SB ) प्रणाली स्वागत छ ।
   p Üdvözöljük a dedikált , elegáns SRF SmartBackstage ( SB ) rendszert .
   script.
      console.log('Hello!');