doctype html
html
    head
        link(rel="stylesheet", href="/backstage/css/reset.css", media="all")
        link(rel="stylesheet", href="/backstage/css/font-awesome.css", media="all")
        link(rel="stylesheet", href="/backstage/plugins/icheck/grey.css", media="all")
        link(rel="stylesheet", href="/backstage/css/components.css", media="all")
        link(rel="stylesheet", href="/backstage/css/admin.css", media="all")
        script(src="/backstage/plugins/jquery/jquery-2.1.1.min.js")
        script(src="/backstage/plugins/icheck/icheck.min.js")
        script(src="/javascripts/md5.js")
        title 后台登陆
    body.login
        h1.site-title(style='color:white') SRF 管理后台
        .content
            h2 登陆账户
            if false
               div.error 用户名或密码错误。

            form(method='POST')
               .input
                  i.fa.fa-user
                  input.form-control.input-username(name='username', type='text', placeholder='用户名')
               .input
                  i.fa.fa-lock
                  input.form-control.input-password(name='password', type='password', placeholder='密码')
               label
                  input(type='checkbox', name='remember', value='1')
                  | 记住我
               button#submit.button.submit-button.green-button(name='submit', type='submit')
                  | 登陆 &nbsp;
                  i.fa.fa-sign-in


    script.
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal-grey',
            radioClass: 'iradio_minimal-grey'
        });
        $('form').on('submit', function() {
            var $p = $('.input-password');
            $p.val(hex_md5($p.val()));
            return true;
        });