doctype html
html
   head
      block head
         meta(charset='utf-8')
         meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
         link(rel='stylesheet', href='/backstage/css/reset.css', media='all')
         link(rel='stylesheet', href='/backstage/css/font-awesome.css', media='all')
         link(rel='stylesheet', href='/backstage/plugins/toastr-notifications/toastr.css', media='all')
         link(rel='stylesheet', href='/backstage/plugins/icheck/grey.css', media='all')
         link(rel='stylesheet', href='/backstage/plugins/select2/select2.css', media='all')
         link(rel='stylesheet', href='/backstage/css/select2-custom.css', media='all')
         link(rel='stylesheet', href='/backstage/css/table.css', media='all')
         link(rel='stylesheet', href='/backstage/css/editable.css', media='all')
         link(rel='stylesheet', href='/backstage/css/tab.css', media='all')
         link(rel='stylesheet', href='/backstage/css/components.css', media='all')
         link(rel='stylesheet', href='/backstage/css/admin.css', media='all')
         script(src='/backstage/plugins/jquery/jquery-2.1.1.min.js')
         script(src='/backstage/plugins/jquery-validation/jquery.validate.min.js')
         script(src='/backstage/plugins/jquery-validation/additional-methods.min.js')
         script(src='/backstage/plugins/jquery-validation/messages_zh.js')
         script(src='/backstage/plugins/toastr-notifications/toastr.min.js')
         script(src='/backstage/plugins/icheck/icheck.min.js')
         script(src='/backstage/plugins/select2/select2.min.js')
         script(src='/backstage/plugins/select2/select2_locale_zh-CN.js')
         script(src='/backstage/plugins/datatables/js/jquery.dataTables.min.js')
         script(src='/backstage/plugins/datatables/js/dataTables.bootstrap.js')
         script(src='/backstage/plugins/bootstrap/bootstrap.min.js')
         script(src='/backstage/plugins/bootstrap3-editable/js/bootstrap-editable.js')
         script(src='/backstage/plugins/bootstrap3-editable/js/bootstrap-datepicker.js')
         script(src='/backstage/plugins/bootstrap3-editable/js/bootstrap-datepicker.zh-CN.js')

   body
      header#masthead.site-header
         div.inner
            h1.site-title
               a.site-title-link(href='/backstage') SRF 后台管理系统
            a.log-out(href='/backstage/logout', title='登出')
               i.fa.fa-sign-out
               | &nbsp;登出

      #main.site-main
         .content-area
            #primary.site-content
               block content
         #secondary.site-sidebar
            ul.site-navigation
               li.module-navigation-item
                  a(href='/backstage/users')
                     i.fa.fa-lg.fa-fw.fa-users
                     | &nbsp;用户审核
               li.module-navigation-item
                  a(href='/backstage/manage-hospitals')
                     i.fa.fa-lg.fa-fw.fa-plus-square
                     | &nbsp;医院管理
               li.module-navigation-item
                  a(href='/backstage/departments')
                     i.fa.fa-lg.fa-fw.fa-hospital-o
                     | &nbsp;科室管理
               li.module-navigation-item
                  a(href='/backstage/doctors')
                     i.fa.fa-lg.fa-fw.fa-user-md
                     | &nbsp;医生管理
               li.module-navigation-item
                  a(href='/backstage/reservations')
                     i.fa.fa-lg.fa-fw.fa-table
                     | &nbsp;预约管理
               li.module-navigation-item
                  a(href='/backstage/account')
                     i.fa.fa-lg.fa-fw.fa-lock
                     | &nbsp;修改密码

      script.
         toastr.options = {
            "closeButton": !0,
            "debug": !1,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
         };
         $(function() {
            $('input').iCheck({
               checkboxClass: 'icheckbox_minimal-grey',
               radioClass: 'iradio_minimal-grey'
            });
            $('select').select2();
            var maxVal = function (a, b) {
               return a > b ? a : b;
            };
            var resizeSiteContent = function () {
               $('.site-content')[0].style.minHeight = maxVal($('.site-sidebar').height(), $(window).height() - 46) + 'px';
            };
            resizeSiteContent();
            $(window).on('resize', resizeSiteContent);
         });

   if locals.message
      if locals.msgType = 'fail'
         case message
            when 'wrong_credentials'
               span#errMsg(style='display:hidden') 用户名或密码错误
            when 'unknown'
               span#errMsg(style='display:hidden') 未知错误
            when 'cp_wrong_credential'
               span#errMsg(style='display:hidden') 原密码错误

      if locals.msgType = 'success'
         case message
            when 'cpcomplete'
               span#sucMsg(style='display:hidden') 修改密码成功
            when 'ahcomplete'
               span#sucMsg(style='display:hidden') 添加医院成功
            when 'adcomplete'
               span#sucMsg(style='display:hidden') 添加科室成功
            when 'aecomplete'
               span#sucMsg(style='display:hidden') 添加医生成功

      script.
         $(function() {
            if ($('#errMsg').text())
               toastr.error($('#errMsg').text(), '错误');
            if ($('#sucMsg').text())
               toastr.success($('#sucMsg').text(), '成功');
         });
