extends layout
block title
    title 注册界面

block site-content
    link(href="/stylesheets/signup.css", rel="stylesheet", media="all")
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/jquery.validate.min.js')
    script(src='/javascripts/messages_zh.min.js')
    script(src="/javascripts/md5.js")
    script(type="text/javascript").
        var maxtime = 60;
        function StartCountDown(){
            document.getElementById("msg").disabled = true;
            maxtime = 60;
            timer = setInterval("CountDown()", 1000);
        }
        function CountDown()
        {
            if(maxtime>=0)
            {
                var minutes = Math.floor(maxtime/60);
                var seconds = Math.floor(maxtime%60);
                msg = minutes + "分" + seconds+"秒后可以再次发送";
                //document.all["timer"].innerHTML=msg;
                document.getElementById("msg").innerHTML = msg;
                --maxtime;
            }
            else
            {
                document.getElementById("msg").disabled = false;
                clearInterval(timer);
                document.getElementById("msg").innerHTML = "重新发送";
            }
        }
        function validate() {
            if ($("#password").val() != $("#password2").val()) {
                alert("两次输入密码不一致！");
                return false;
            }
            $("#password").set(hex_md5($("#password").val()));
            $("#password2").set(hex_md5($("#password2").val()));
            return true;
        }
    .container
        form.form-login(role='form', class="form-horizontal", action='/account/register', name='postSignupMessage', method='post', onsubmit="return validate()", id="register-form")
            h2.form-login-heading 用户注册
            h3.label(style='color: red') 加*为必填项
            .form-group
                label.col-sm-2.control-label(for='username') 用户名*
                .col-sm-10
                    input#username.form-control(type='text', placeholder='请输入用户名*',name="username",required="required")
            .form-group
                label.col-sm-2.control-label(for='password') 密码*
                .col-sm-10
                    input#password.form-control(type='password', placeholder='请输入密码*',name="password",required="required")
            .form-group
                label.col-sm-2.control-label(for='password2') 确认密码*
                .col-sm-10
                    input#password2.form-control(type='password', placeholder='请再次输入密码*',name="password2",required="required")
            .form-group
                label.col-sm-2.control-label(for='name') 姓名*
                .col-sm-10
                    input#name.form-control(type='text', placeholder='请输入您的姓名',name="name",required="required")
            .form-group
                label.col-sm-2.control-label(for='id') 身份证号*
                .col-sm-10
                    input#id.form-control(type='text', placeholder='请输入身份证号码',name="id",required="required")
            .form-group
                label.col-sm-2.control-label(for='phone') 手机号*
                .col-sm-10
                    input#phone.form-control(type='text', placeholder='请输入您的手机号',name="phone",required="required")
                    button#msg.btn.btn-link(type='button', onclick='StartCountDown()')                 发送验证短信
            .form-group
                label.col-sm-2.control-label(for='email') 电子邮箱
                .col-sm-10
                    input#phone.form-control(type='email', placeholder='电子邮箱（用于找回您的密码）',name="email")
            .form-group
                label.col-sm-2.control-label(for='vallidationCode') 验证码*
                .col-sm-10
                    input#phone.form-control(type='number', placeholder='您手机收到的短信验证码',name="validationCode",required="required")
            .checkbox
                label
                    input(style='display: inline', type='checkbox', value='approve')
                    | 我同意SAD挂号平台的服务许可协议
                a(style='display: inline;', type='button', href='license.html', target='_blank') 查看
            h2.label(name='errorMessage', style='color: red; font-size: larger') #{errorMessage}
            br
            button.btn.btn-lg.btn-primary.btn-block(type='submit') 确认注册
    script(type="text/javascript").
        $('#register-form').on('submit', function() {
            if ($("#password").val() != $("#password2").val()) {
                alert("两次输入密码不一致！");
                return false;
            }
            $("#password").val(hex_md5($("#password").val()));
            $("#password2").val(hex_md5($("#password2").val()));
            return true;
        });