extends layout
block title
    title 注册

block breadcrumb
    li
        a(href="/") 主页
    li 注册

block site-content
    link(href="/stylesheets/signup.css", rel="stylesheet", media="all")
    script(src="/javascripts/jquery.validate.min.js")
    script(src="/javascripts/messages_zh.min.js")
    script(src="/javascripts/md5.js")

    .container

        .alert.alert-warning.alert-dismissible.hidden
            button.close(type="button", data-dismiss="alert")
                span ×
            strong.alert-message #{errorMessage}

        form#form-register.form-horizontal(action="/account/register", name="postSignupMessage", method="post")
            .form-group
                label.col-sm-2.control-label(for="username") 用户名
                .col-sm-10
                    input#username.form-control(type="text", placeholder="请输入用户名", name="username", required)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
            .form-group
                label.col-sm-2.control-label(for="password") 密码
                .col-sm-10
                    input#password.form-control(type="password", placeholder="请输入密码", name="password", required)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
            .form-group
                label.col-sm-2.control-label(for="password2") 确认密码
                .col-sm-10
                    input#password2.form-control(type="password", placeholder="请再次输入密码", name="password2", required)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
            .form-group
                label.col-sm-2.control-label(for="name") 姓名
                .col-sm-10
                    input#name.form-control(type="text", placeholder="请输入您的姓名", name="name", required)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
            .form-group
                label.col-sm-2.control-label(for="id") 身份证号
                .col-sm-10
                    input#id.form-control(type="text", placeholder="请输入身份证号码", name="id", required)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
            .form-group
                label.col-sm-2.control-label(for="phone") 手机号
                .col-sm-10
                    input#phone.form-control(type="text", placeholder="请输入您的手机号", name="phone", required)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
                    button#msg.btn.btn-link(onclick="StartCountDown()") 发送验证短信
            .form-group
                label.col-sm-2.control-label(for="vallidationCode") 验证码
                .col-sm-10
                    input#validation-code.form-control(type="text", placeholder="您收到的短信验证码",name="validationCode", required)
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
            .form-group
                label.col-sm-2.control-label(for="email") 电子邮箱
                .col-sm-10
                    input#email.form-control(type="email", placeholder="电子邮箱（用于找回您的密码）", name="email")
                    span.glyphicon.glyphicon-warning-sign.form-control-feedback.hidden
            .form-group
                .col-sm-offset-2.col-sm-10
                    .checkbox
                        label
                            input(type="checkbox")#eula
                            | 我同意SAD挂号平台的
                            a(href="license.html") 服务许可协议
            button#submit-button.btn.btn-lg.btn-primary.btn-block 确认注册


    script(type="text/javascript").

        if ($(".alert-message").html() != "") {
            $(".alert").removeClass("hidden");
        }

        var maxtime = 60;

        function StartCountDown() {
            $("#msg").attr("disabled", true);
            maxtime = 60;
            timer = setInterval("CountDown()", 1000);
        }

        function CountDown() {
            if (maxtime >= 0) {
                var minutes = Math.floor(maxtime / 60);
                var seconds = Math.floor(maxtime % 60);
                $("#msg").html(minutes + "分" + seconds + "秒后可以再次发送");
                maxtime--;
            } else {
                $("#msg").attr("disabled", false);
                clearInterval(timer);
                $("#msg").html("重新发送");
            }
        }


        $("#submit-button").click(function(e) {
            e.preventDefault();

            $(".alert").addClass("hidden");
            $(".form-group").removeClass("has-warning");
            $(".form-control-feedback").addClass("hidden");

            var checkCompletion = true;
            var checkPassword = true;
            var checkId = true;
            var checkPhone = true;
            var checkEmail = true;
            var checkEULA = true;

            $(".form-control").each(function() {
                if ($(this).val() == "") {
                    checkCompletion = false;
                    $(this).parents(".form-group").addClass("has-warning");
                    $(this).siblings(".form-control-feedback").removeClass("hidden");
                }
            });
            if (checkCompletion == false) {
                $(".alert-message").html("信息不完整");
                $(".alert").removeClass("hidden");
                return;
            }

            if ($("#password").val() != $("#password2").val()) {
                $("#password").parents(".form-group").addClass("has-warning");
                $("#password").siblings(".form-control-feedback").removeClass("hidden");
                $("#password2").parents(".form-group").addClass("has-warning");
                $("#password2").siblings(".form-control-feedback").removeClass("hidden");
                $(".alert-message").html("两次输入的密码不一致");
                $(".alert").removeClass("hidden");
                checkPassword = false;
                return;
            }

            if (!(/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/).test($("#id").val())) {
                $("#id").parents(".form-group").addClass("has-warning");
                $("#id").siblings(".form-control-feedback").removeClass("hidden");
                $(".alert-message").html("身份证号格式有误");
                $(".alert").removeClass("hidden");
                checkId = false;
                return;
            }

            if (!(/^1[3|4|5|7|8]\d{9}$/.test($("#phone").val()))) {
                $("#phone").parents(".form-group").addClass("has-warning");
                $("#phone").siblings(".form-control-feedback").removeClass("hidden");
                $(".alert-message").html("手机号格式有误");
                $(".alert").removeClass("hidden");
                checkPhone = false;
                return;
            }

            if (!(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($("#email").val()))) {
                $("#email").parents(".form-group").addClass("has-warning");
                $("#email").siblings(".form-control-feedback").removeClass("hidden");
                $(".alert-message").html("邮箱格式有误");
                $(".alert").removeClass("hidden");
                checkEmail = false;
                return;
            }

            if (!$("#eula").is(":checked")) {
                $("#eula").parents(".form-group").addClass("has-warning");
                $(".alert-message").html("您必须同意服务许可协议");
                $(".alert").removeClass("hidden");
                checkEULA = false;
                return;
            }

            if (checkCompletion && checkPassword && checkId && checkPhone && checkEmail &&checkEULA) {
                $("#form-register").submit();
            }
        });


        $("#form-register").submit(function() {
            $("#password").val(hex_md5($("#password").val()));
            $("#password2").val(hex_md5($("#password2").val()));
            return true;
        });