<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>用户注册界面</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/stylesheets/signup.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <form class="form-login" role="form" action="/account/register" name="postSignupMessage" method="post">
        <h2 class="form-login-heading">用户注册</h2>
        <h3 class="label" style="color: red">加*为必填项</h3>

        <input type="text" class="form-control" name="username" placeholder="请输入用户名*" style="margin-top: 10px" required autofocus>

        <input type="text" class="form-control" name="name" placeholder="患者姓名*" required>

        <input type="text" class="form-control" name="id" placeholder="身份证号*" required>

        <input type="text" class="form-control" name="tel" placeholder="手机号*" required>

        <button id="msg" class="btn btn-link" type="button" onclick="StartCountDown()">发送验证短信</button>

        <div>
            <input style="display: inline" type="radio"  name="gender" value="male" checked>男
            <input style="display: inline" type="radio"  name="gender" value="female">女
        </div>

        <input type="email" class="form-control" name="email" placeholder="邮箱(用于找回您的密码)">

        <input type="password" class="form-control" name="password1" placeholder="请输入密码*" required>
        <input type="password" class="form-control" name="password2" placeholder="请再次输入确认密码*" required>

        <input type="number" class="form-control" name="validationCode" placeholder="您手机收到的短信验证码*" required>

        <div class="checkbox">
            <label>
                <input style="display: inline" type="checkbox" value="approve" required> 我同意SAD挂号平台的服务许可协议
            </label>
            <a style="display: inline;" type="button" href="license.html" target="_blank">查看</a>
        </div>
        <h2 class="label" name="errorMessage" style="color: red; font-size: larger"></h2>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">确认注册</button>
    </form>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
    <!--
    var maxtime = 60;
    function StartCountDown(){
        document.getElementById("msg").disabled = true;;
        maxtime = 60;
        timer = setInterval("CountDown()", 1000);
    }
    function CountDown()
    {
        if(maxtime>=0)
        {
            var minutes = Math.floor(maxtime/60);
            var seconds = Math.floor(maxtime%60);
            msg = minutes + "分" + seconds+"秒后可以再次发送";
            //document.all["timer"].innerHTML=msg;
            document.getElementById("msg").innerHTML = msg;
            --maxtime;
        }
        else
        {
            document.getElementById("msg").disabled = false;
            clearInterval(timer);
            document.getElementById("msg").innerHTML = "重新发送";
        }
    }
    //-->
</script>
</body>
</html>


