<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="usercenter_reservation_list.css" rel="stylesheet"/>
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="usercenter_userinfo.css"  rel="stylesheet" type="text/css"/>
    <title>我的预约 – 个人中心 | 挂号网</title>

</head>
<body>


<div id="gc">


    <div  data-module="userinfo" class="gp-person g-container" data-fo-help="1">
        <div id="g-breadcrumb">
            <a href="http://www.guahao.com">首页</a>
            <span>&gt;&nbsp;我的预约单</span>
        </div>
        <div class="wrap">
            <div class="person-left">
                <p class="left-head ">
                    <img src="http://img.guahao.cn/img/character/young-m.png" alt="男">
                    <span style="margin-left: 3px"><strong>刘笑然</strong></span>
                </p>


                <ul class="none-border">
                    <li style="list-style-type: none;margin-top:40px;margin-left:10px;text-align:left"><a
                            href="http://www.guahao.com/my/orderlist"  class="btn btn-default btn-lg active" role="button">
                        预约列表</a></li>
                    <li style="list-style-type: none;margin-top:20px;margin-left:10px;text-align: left"><a class="btn btn-primary btn-lg active" role="button"  href="http://www.guahao.com/my/haoyuanlist">
                        个人中心</a></li>

                </ul>


            </div>
            <div class="person-right">
                <div class="order-remind  g-clear">
                    <span class="icon gi2 gi-order-big"></span>

                    <div class="meta">
                        <h1>个人中心</h1>
                    </div>
                </div>

                <div class="second_block">
                    <span class="second_label">账号信息</span>
                </div>
                <HR id="hr_style">
                <div class="list_content">
                    <span>登录名:</span>
                    <span>真实姓名:</span>
                    <span>电话:</span>
                    <span>邮箱:</span>
                    <span>身份证号:</span>
                    <span>信用额度:</span>
                </div>
                <div class="second_block">
                    <span class="second_label"> 修改信息</span>
                </div>
                <HR style="line-width:1;" width="90%" color="#1E90FF" SIZE="1">
                <div>
                    <form action="###" name="pwinfo_modify_form">
                        <div class="form-group" style="margin-left:60px">
                            <label>原密码</label>
                            <input type="password" class="form-control" style="width:40%" name="pre_pw"/>
                            <label>新密码</label>
                            <input type="password" class="form-control" style="width:40%" name="new-pw"/>
                            <label>电话</label>
                            <input type="text" class="form-control" style="width:40%" name="tel"/>
                            <label>邮箱</label>
                            <input type="email" class="form-control" style="width:40%" name="email"/>
                            <button type="submit" class="btn btn-default">修改</button>
                        </div>

                    </form>


                </div>

                <div class="second_block">
                    <span class="second_label"> 上传头像</span>
                </div>
                <HR style="line-width:1;" width="90%" color="#1E90FF" SIZE="1">
                <div>
                    <form action="###" name="head_pic_form"/>
                      <div class="form-group" style="margin-left:60px">
                          <input type="file" name="upload_pic"/>
                          <button type="submit"  class="btn btn-default">上传</button>
                      </div>

                    </form>

                </div>


            </div>


        </div>
    </div>


</div>


</body>
</html>