<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="usercenter_reservation_list.css" rel="stylesheet"/>

    <link href="bootstrap.css" rel="stylesheet"/>

    <title>我的预约 – 个人中心 | 挂号网</title>

</head>
<body>


<div>


    <div  data-module="userinfo" class="gp-person g-container" data-fo-help="1">
        <div id="g-breadcrumb">
            <a href="http://www.guahao.com">首页</a>
            <span>&gt;&nbsp;我的预约单</span>
        </div>
        <div class="wrap">
            <div class="person-left">
                <p class="left-head ">
                    <img src="http://img.guahao.cn/img/character/young-m.png" alt="男">
                    <span style="margin-left: 3px"><strong>刘笑然</strong></span>
                </p>


                <ul class="none-border">
                    <li style="list-style-type: none;margin-top:40px;margin-left:10px;text-align:left"><a
                            href="http://www.guahao.com/my/orderlist"  class="btn btn-primary btn-lg active" role="button">
                            预约列表</a></li>
                    <li style="list-style-type: none;margin-top:20px;margin-left:10px;text-align: left"><a class="btn btn-default btn-lg active" role="button"  href="http://www.guahao.com/my/haoyuanlist">
                           个人中心</a></li>

                </ul>


            </div>
            <div class="person-right">
                <div class="order-remind  g-clear">


                    <div class="meta">
                        <h1>我的预约单</h1>
                    </div>
                </div>
                <div class="list">


                    <table  class="table">

                        <colgroup>
                            <col width="144px;"/>
                            <col width="160px;"/>

                            <col width="100px;"/>
                            <col width="70px;"/>
                            <col width="80px;" class="order-cost"/>
                            <col width="130px;"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>就诊日期</th>
                            <th>医院</th>
                            <th class="text-left">医生</th>
                            <th>就诊人</th>
                            <th>挂号费</th>
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>1992-1-1</td>
                            <td>北京三院</td>
                            <td>liuxiaoran</td>
                            <td>liuxiaran</td>
                            <td >1</td>
                            <td>success</td>
                            <td><a href="###">查看</a></td>
                        </tr>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div>


        </div>
    </div>


</div>


</body>
</html>