extends layout

block append stylesheets
    link(href="/stylesheets/bootstrap/css/bootstrap.min.css", rel="stylesheet", media="all")
    link(href="/stylesheets/usercenter_reservation_list.css",rel="stylesheet", media="all")
    link(href="/stylesheets/usercenter_userinfo.css",rel="stylesheet", media="all")
    link(rel='stylesheet', href='/backstage/plugins/toastr-notifications/toastr.css', media='all')
    link(rel='stylesheet', href='/backstage/css/tab.css', media='all')

block append scripts
    script(src='/backstage/plugins/jquery/jquery-2.1.1.min.js')
    script(src='/backstage/plugins/jquery-validation/jquery.validate.min.js')
    script(src='/backstage/plugins/jquery-validation/messages_zh.js')
    script(src='/backstage/plugins/bootstrap/bootstrap.min.js')
    script(src="/javascripts/md5.js")
    script(src='/javascripts/jquery-2.1.1.min.js')


block breadcrumb
    li
        a(href="/") 主页
    li.active 个人中心

block site-content
    div: .g-container

        .wrap
            .person-left
                p.left-head
                    img(src='/images/protrait.png', style="margin-left:25px",alt='男')
                    span(style='margin-left: 3px'): strong #{username}
                ul.none-border

                    li
                        a(href='/account/manage/info',role='presentation') 个人中心
                    li
                        a(href='/account/manage/reservation', role='presentation') 预约列表
            block right_block
    div.clear