body {
    font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', '微软雅黑', sans-serif;
    text-rendering: optimizeLegibility;
}

a {
    transition: all .4s ease;
}

#nav {
    background-color: #f8f8f8;
}

.navbar {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-width: 0;
    border-radius: 0;
}

#nav-search-field {
    border: 1px solid #eee;
    padding: 4px 10px;
    background: #fff;
    box-shadow: none;
}
#nav-search-field:focus {
    box-shadow: none;
}
#nav-search-button {
    box-shadow: none;
    border:1px solid #eee;
}

#header-content {
    margin-left: auto;
    margin-right: auto;
}

#site-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#header {
    border-bottom: 1px solid #dddddd;
}

#header, nav.navbar, ol.breadcrumb {
    background: #fafafa;
}

.breadcrumb {
    padding-left: 0;
    margin-bottom: 10px;
    background: #fff;
}

.nav-tabs > li > a {
    border-radius: 0;
    border-top-width: 2px;
    border-bottom: none;
}

#footer #copyright {
    margin-top: 20px;
    color: #888888;
}

.hidden {
    display: none !important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    text-align: center;
    vertical-align: middle;
}

.ft-links ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.ft-links ul li {
    display: inline-block;
}

.ft-links ul li a {
    color: grey;
    font-weight: bold;
    padding: 5px 10px 5px;
    transition: color .4s ease;
}

.ft-links ul li a:hover {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px 5px;
}

.ft-links ul li::after {
    content: '·';
    color: #e2e2e2;
    padding: 0;
}

.ft-links ul li:first-child a {
    padding-left: 0;
}

.ft-links ul li:last-child::after {
    content: '';
}

.ft-notes {
    color: #999;
    margin-bottom: 20px;
}

.ft-notes p {
    margin-bottom: .5em;
}

.ft-alt-notes {
    color: #ccc;
}

.site-ft-title {
    color: #444;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.tile-title {
    font-size: 20px;
}

@media screen and (max-width: 995px) {
    footer .container .col-sm-3 {
        display: none;
    }
    footer .container .col-sm-9 {
        width: 100% !important;
    }
}

@media screen and (max-width: 580px) {
    .ft-links ul li {
        margin-bottom: 10px;
    }
    .ft-links ul li a {
        padding-left: 0;
        padding-right: 20px;
    }
    .ft-links ul li a::after {
        display: none;
    }
    footer .col-sm-9 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .nav-tabs li a {
        padding: 10px 5px !important;
    }
}

@media screen and (max-width: 380px) {
    #all a, li.all {
        display: none;
    }
    #all span {
        display: block !important;
    }
    .province-link, .hospital-link {
        padding: 6px 26px 6px 0;
    }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
}