body {

}

#nav {
    background-color: #f8f8f8;
}

@media all and (min-width: 980px) {
    .navbar {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        border-width: 0;
        border-radius: 0;
    }

    #header-content {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    #site-content {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

@media all and (max-width: 980px) {
    .navbar {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        border-width: 0;
        border-radius: 0;
    }

    #header-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #site-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

#header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
}

.breadcrumb {
    background-color: #f8f8f8;
}

.nav-tabs {
    margin-top: 20px;
    border: none;
}

.nav-tabs>li>a {
    border-radius: 0;
    border-top-width: 2px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border-top: 2px solid #377bee;
}

#footer #copyright {
    margin-top: 20px;
    color: #888888;
}

.vertical-middle-helper {
    display: inline-table;
}

.hospital .vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.hidden {
    display: none !important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}