.hospital {
    border: 2px solid #dddddd;
    border-bottom-color: transparent;
    padding: 10px;
}

.hospital:hover {
    border-color: dodgerblue;
}

.hospital:last-child {
    border-bottom-color: #dddddd;
}

.hospital:last-child:hover {
    border-bottom-color: dodgerblue;
}

.hospital .image {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 120px;
    box-sizing: content-box;
}

.hospital .reservation {
    display: inline-block;
    height: 120px;
}

.hospital-info>.name {
    display: inline-block;
    margin-top: 5px;
}

.hospital-info>.rating {
    margin-top: 5px;
}

.hospital-info>.tel {
    margin-top: 5px;
}

.hospital-info>.addr {
    margin-top: 5px;
}

.vertical-middle-table {
    display: table;
    height: 100%;
}

.vertical-middle-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}