.hospital {
    border: 2px solid #dddddd;
    padding: 10px;
}

.hospital>.image {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.hospital>.reservation {
    display: inline-block;
    vertical-align: 50%;
}

@media all and (min-width: 980px){


    .hospital>.hospital-info {
        display: inline-block;
        width: 700px;
        margin-left: 20px;
    }
}

@media all and (max-width: 980px){
    .hospital>.hospital-info {
        display: inline-block;
        width: 600px;
        margin-left: 20px;
    }
}

@media all and (max-width: 850px){
    .hospital>.hospital-info {
        display: inline-block;
        width: 500px;
        margin-left: 20px;
    }
}

@media all and (max-width: 750px){
    .hospital>.hospital-info {
        display: inline-block;
        width: 400px;
        margin-left: 20px;
    }
}

@media all and (max-width: 608px){
    .hospital>.hospital-info {
        display: inline-block;
        width: 400px;
        margin-left: 20px;
    }

    .hospital>.reservation {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        vertical-align: 50%;
    }
}

@media all and (max-width: 543px){
    .hospital>.image {
        display: none;
    }

    .hospital>.hospital-info {
        display: inline-block;
        width: 100%;
        margin-left: 20px;
        margin-top: 10px;
    }

    .hospital>.reservation {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        vertical-align: 50%;
    }
}

.hospital-info>.name {
    display: inline-block;
    margin-top: 5px;
}

.hospital-info>.rating {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
}

.hospital-info>.tel {
    margin-top: 5px;
    font-size: 12px;
    color: grey;
}

.hospital-info>.addr {
    margin-top: 5px;
    font-size: 12px;
    color: grey;
}

.hover {
    border: 2px solid dodgerblue;
}

.gbt-blue {
    background: #dff2ff;
    color: #377bee;
    transition: none
}

.gbt-blue:hover {
    background: #377bee;
    color: #fff
}

.gbn {
    padding: 0 16px;
    text-align: center;
    display: inline-block;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all .3s ease-out 0s
}

.gbn:hover {
    text-decoration: none
}