.page-heading {
    background-color: #f5f5f5;
    padding-left: -100px;
    padding-right: -100px;
    overflow: auto;
    width: 2000px;
}

.hospital-name {
    display: inline-block;
    margin-top: 10px;
    float: left;
}

.hospital-rating {
    display: inline-block;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 29px;
    background-color: #ffeed1;
    color: #f0920a;
}

.nav-tabs {
    margin-top: 20px;
    border: none;
}

.nav-tabs>li>a {
    border-radius: 0;
    border-top-width: 2px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border-top: 2px solid #377bee;
}

.hospital-image {
    display: inline-block;
    width: 200px;
    height: 150px;
}

.hospital-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.hospital-info>.addr>.addr-label,
.hospital-info>.tel>.tel-label,
.hospital-info>.site>.site-label {
    color: #888888;
}

.hospital-intro {
    margin-top: 20px;
    border: 1px solid #eeeeee;
    padding: 15px;
}

.hospital-intro>.intro-title {
    color: #5CA945;
}

.table {
    border: 1px solid #e4e4e4;
    text-align: center;
}

.table-header {
    border-right: 1px solid #e4e4e4;
    background-color: #f5f5f5;
}

.doctor {
    border: 1px solid #dddddd;
    padding: 10px;
    margin-bottom: 5px;
}

.doctor>.image {
    display: inline-block;
    background-color: red;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

.doctor>.doctor-info {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.doctor>.doctor-intro {
    display: inline-block;
    margin-left: 50px;
    width: 150px;
}