body {
    font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', '微软雅黑', sans-serif;
    text-rendering: optimizeLegibility;
}

a {
    transition: all .4s ease;
}

.navbar .navbar-form {
    display: none;
}

#header {
    display: none;
}

.jumbotron {
    height: 400px;
    margin-bottom: 20px;
    background-image: url(/images/index_pic0.jpg);
    background-size: cover;
    color: #ffffff;
}

.jumbotron h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.jumbotron p {
    margin-bottom: 5px;
}

.jumbotron .row {
    margin-top: 40px;
}

.tiles {
    text-align: center;
}

.choose-location-label {
    margin: 40px 0 20px;
    border-left: 4px solid #fa9900;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0 5px 9px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding-top: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs li.active {
    border-bottom: 1px solid #fff;
}

.nav-tabs li a {
    margin: 0 !important;
    padding: 10px 13px !important;
}

.nav-tabs li a:hover {
    background-color: #fff;
    border-bottom: 0;
}

.tab-content {
    margin-top: 10px;
    min-height: 160px;
}

.province-link,
.hospital-link {
    display: inline-block;
    padding: 6px 13px;
    color: #333;
}

.ft-links ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.ft-links ul li {
    display: inline-block;
}

.ft-links ul li a {
    color: grey;
    font-weight: bold;
    padding: 5px 10px 5px;
    transition: color .4s ease;
}

.ft-links ul li a:hover {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px 5px;
}

.ft-links ul li::after {
    content: '·';
    color: #e2e2e2;
    padding: 0;
}

.ft-links ul li:first-child a {
    padding-left: 0;
}

.ft-links ul li:last-child::after {
    content: '';
}

.ft-notes {
    color: #999;
    margin-bottom: 20px;
}

.ft-notes p {
    margin-bottom: .5em;
}

.ft-alt-notes {
    color: #ddd;
}

.site-ft-title {
    color: #444;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.tile-title {
    font-size: 20px;
}

.nav-tabs>li>a {
    border-radius: 0;
    border-top-width: 2px;
    border-bottom: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border-top: 2px solid #377bee;
    border-bottom: none;
}