body {
    font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Helvetica Neue', 'Helvetica', 'Microsoft YaHei', '微软雅黑', sans-serif;
    text-rendering: optimizeLegibility;
}

a {
    transition: all .4s ease;
}

.navbar .navbar-form {
    display: none;
}

#header {
    display: none;
}

#search-field {
    background: #fff;
    padding-left: 10px;
    height: 36px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.jumbotron {
    margin-bottom: 20px;
    background: url(/images/1.png) no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: #3e3d49;
}

.jumbotron h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.jumbotron p {
    margin-bottom: 5px;
}

.jumbotron .row {
    margin-top: 40px;
}

.tiles {
    text-align: center;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li > a {
    box-shadow: none;
    transition: none !important;
}

.choose-location-label {
    margin: 20px 0 20px;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}


.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding-top: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.tab-content {
    margin-top: 10px;
    min-height: 160px;
}

.province-link,
.hospital-link {
    display: inline-block;
    padding: 6px 13px;
    color: #333;
    text-decoration: none !important;
}

.featured .feature {
    background: #53b481;
    color: #fff;
    font-size: 55px;
    display: inline-block;
    border-radius: 50%;
}

.feature.fa-user-md {
    padding: 35px 41px;
}

.feature.fa-hospital-o {
    padding: 35px 41px;
}

.feature.fa-cny {
    padding: 35px 48px;
}

.ft-links ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.ft-links ul li {
    display: inline-block;
}

.ft-links ul li a {
    color: grey;
    font-weight: bold;
    padding: 5px 10px 5px;
    transition: color .4s ease;
}

.ft-links ul li a:hover {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px 5px;
}

.ft-links ul li::after {
    content: '·';
    color: #e2e2e2;
    padding: 0;
}

.ft-links ul li:first-child a {
    padding-left: 0;
}

.ft-links ul li:last-child::after {
    content: '';
}

.ft-notes {
    color: #999;
    margin-bottom: 20px;
}

.ft-notes p {
    margin-bottom: .5em;
}

.ft-alt-notes {
    color: #ccc;
}

.site-ft-title {
    color: #444;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.tile-title {
    font-size: 20px;
}

@media screen and (max-width: 995px) {
    footer .container .col-sm-3 {
        display: none;
    }
    footer .container .col-sm-9 {
        width: 100% !important;
    }
}

@media screen and (max-width: 580px) {
    .ft-links ul li {
        margin-bottom: 10px;
    }
    .ft-links ul li a {
        padding-left: 0;
        padding-right: 20px;
    }
    .ft-links ul li a::after {
        display: none;
    }
    footer .col-sm-9 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .nav-tabs li a {
        padding: 10px 5px !important;
    }
}

@media screen and (max-width: 380px) {
    #all a, li.all {
        display: none;
    }
    #all span {
        display: block !important;
    }
    .province-link, .hospital-link {
        padding: 6px 26px 6px 0;
    }
}