#site-content {
    margin-top: 70px;
    margin-bottom: 50px;
}

.alert {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.form-login {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.form-login .checkbox {
    margin-bottom: 10px;
}

.form-login .form-control {
    margin-bottom: 10px;
}

.left-content {
    border-right: 1px solid #cccccc;
}

.right-content {
    boarder-left: 1px solid #cccccc;
}

@media (max-width: 768px) {
    .right-content {
        display: none;
    }
}

h2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 19px;
}

h4 {
    margin-bottom: 19px;
}

a.btn {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

