.alert {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#form-register {
    margin-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-control-feedback {
    right: 14px;
}

#submit-button {
    margin-top: 30px;
}