@charset "UTF-8";
.second_label{
    text-align: left;
    font-size: 18pt;
    margin-left:30px;
    margin-top:6px;
}
.second_block{

    width:150px;
    height:20px;

    margin-left: 5px;
    margin-top: 20px;
}
.list_content span{

    font-size: 13pt;
    width:50%;
    margin-left:50px;
}
#hr_style{
    width:90%;
    height:2px;
    color: #0186c7;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
#errordiv{
    width:80%;
    height:20px;
    text-align: center;
    background-color: #AFF2F7;

}
.errorSpan{
    font-family:"华文细黑",Georgia,Serif;
    font-style:oblique;
}