@charset "UTF-8";
.second_label{
    text-align: left;
    font-size: 18pt;
    margin-left:30px;
    margin-top:6px;
}
.second_block{

    width:150px;
    height:20px;

    margin-left: 5px;
    margin-top: 20px;
}
.list_content span{
    margin-top: 6px;
    margin-left:60px;
    font-size: 10pt;
    display:block;
}
#hr_style{
    width:90%;
    height:2px;
    color: #0186c7;
}